* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}

#card {
  height: 500px;
  width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

#card h1 {
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
}

#card img {
  height: 70%;
  width: 70%;
  border-radius: 10px;
  object-position: center;
  object-fit: fill;
}

#card h5 {
  font-size: 25px;
  color: red;
  margin: 10px;
}
#card button {
  margin: 2px;
  background-color: rgb(23, 133, 169);
  color: #fff;
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* #card #remove {
  background-color: #dadada;
  color: #111;
} */
